.name {
  text-decoration: none;
  font-size: 5rem;
  color: #000;
}

.nav {
  max-width: 1024px;
}

.nav ul {
  padding: 0;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .nav ul {
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
  }

  .nav ul li {
    padding-top: 1rem;
  }
}

.nav ul li {
  float: left;
  padding-left: 20px;
  list-style-type: none;
  list-style: none;
}
